/*
 * Chrome Options
 *
 * CSS framework that unifies options page on Google Chrome extension, inspired by Chrome settings UI
 *
 * @package		Chrome Options
 * @author		Tracjhe Petrov a.k.a SkechBoy
 * @link 		https://github.com/skechboy/Chrome-Options
*/

/*----------------------------------------------------------------------------------------------------------------------
											   MAIN MARKUP's
----------------------------------------------------------------------------------------------------------------------*/
* 
{
	box-sizing: border-box; 
}

:root
{	
	--theme: 				rgba( 51, 103, 214, 1 );
	--theme-zero: 			rgba( 51, 103, 214, 0 );
	--theme-light: 			rgba( 51, 103, 214, 0.4 );
	--theme-background: 	#FFF;

	--theme-label: 			#9E9E9E;
	--theme-default-font: 	rgb(51, 51, 51);

	--theme-border: 		#757575;  
	--theme-border-fade: 	rgba(0,0,0,0.05); 

	--theme-select-hoverbg: #EAEAEA;
}

body
{
	height:500px;
	width:1000px;
	padding-top:48px;

	color: var( --theme-default-font );
	background: var( --theme-background );
}

.add
{
	bottom:-60px !important;
}
	content section:hover > .add
	{
		bottom:15px !important;
	}

/*----------------------------------------------------------------------------------------------------------------------
											  PRELOADER
----------------------------------------------------------------------------------------------------------------------*/
.preloader
{
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background: #FFF;
	position: absolute;
	text-align:center;
	padding-top:20%;
}
	.preloader svg 
	{
		animation: inner 1320ms linear infinite
	}
		.preloader svg circle 
		{
			fill: none;
			stroke: var( --theme );
			stroke-linecap: square;
			animation: arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite
		}

	@keyframes inner 
	{
		0% {
			transform: rotate(-100.8deg)
		}
		100% {
			transform: rotate(0)
		}
	}

	@keyframes arc 
	{
		0% {
			stroke-dasharray: 1 210.48670779px;
			stroke-dashoffset: 0
		}
		40% {
			stroke-dasharray: 151.55042961px, 210.48670779px;
			stroke-dashoffset: 0
		}
		100% {
			stroke-dasharray: 1 210.48670779px;
			stroke-dashoffset: -151.55042961px
		}
	}

/*----------------------------------------------------------------------------------------------------------------------
											  NAVIGATION
----------------------------------------------------------------------------------------------------------------------*/
nav
{
	top:0px;
	left:0px;
	width:100%;
	height:48px;
	z-index:9999;
	position:fixed;
	user-select: none;

	/*background:rgb(0, 188, 212); */
	background: var( --theme );
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
	nav ul
	{
		margin:0px;
		padding:0px;
	}
	nav ul li
	{
		color:#FFF;
		font-size:16px;
		cursor:pointer;
		overflow:hidden;
		font-weight:400;
		position:relative;
		padding: 14px 25px;
		display:inline-block;
		text-transform: uppercase;
	}
		nav ul li:after
		{
			opacity:0;

			top: 50%;
			left: 50%;
			width: 2px;
			height: 2px;
			content: '';
			position: absolute;
			border-radius: 100%;
			pointer-events: none;
			transform: scale(100, 100);
			background: rgba(255, 255, 255, 0.3);
			transition: transform 0.8s, opacity 1s;
		}
			nav ul li:active:after
			{
				opacity: 1;
				transition: 0s;
				transform: scale(0, 0);
			}

.slider
{
	left: 0;
	height: 4px;
	width:120px;
	position: absolute;
	background: rgba(255, 255,255, 0.6);
	top: calc(100% - 4px);
	transition: left 0.3s ease-out, width 0.3s;
}
.sticky.stick
{
    top: 55px;
    z-index: 999;
    position: fixed;
    background: white;
    transition: top 1s ease-out; 
    /* box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.28); */
}

.material-icons
{
	vertical-align:middle;
}

/*----------------------------------------------------------------------------------------------------------------------
											  CONTENT
----------------------------------------------------------------------------------------------------------------------*/
content
{
	width:100%;
	font-size:0;
	display:block;
	overflow:hidden;
	white-space: nowrap;
	height:100%;
}
	content section
	{
		width:100%;
		height:100%;
		padding:20px 0px;
		overflow-y:scroll;
		position: relative;
		vertical-align:top;
		white-space: normal;
		display:inline-block;
		transition: margin-left 0.3s ease-out;
	}

/*----------------------------------------------------------------------------------------------------------------------
										OPTION SECTIONS
----------------------------------------------------------------------------------------------------------------------*/
content > section > div
{
	vertical-align:top;
	display:inline-block;
}
	#vocal-container
	{
		width:60%;
		margin-right:5%;
		border-right:1px solid var( --theme-border-fade );
	}
		#vocal-container > div
		{
			font-size:14px;
			vertical-align:top;
			display:inline-block;
		}
		#vocal-container #tts-engine
		{
			width:50%;
		}
		#vocal-container #tts-options
		{
			width:50%;
		}
			#vocal-container #tts-options > div 
			{
				width:90%;
			}
		#vocal-container #testing
		{
			width:100%;
		}
			#vocal-container #testing #text-input
			{
				width:90%;
			}

			#vocal-container #testing #test_box
			{
				position:relative;
				display:inline-block;
			}
				#vocal-container #testing #test_box i
				{
					display:block;
					cursor:pointer;
					font-size: 35px;
					margin-top:20px;
					user-select:none;
					position:absolute;
					transform: scale(0);
					transition: transform 0.6s, opacity 0.8s;

				}

	#language-container
	{
		width:35%;
		font-size:14px;
	}

/*----------------------------------------------------------------------------------------------------------------------
										TESTING SCENARIOS
----------------------------------------------------------------------------------------------------------------------*/
.end#test_box i[data-action="read"],
.idle#test_box i[data-action="read"],
.interrupted#test_box i[data-action="read"],
.reading#test_box i[data-action="stop"],
.error#test_box i[data-action="error"]
{
	transform: scale(1) !important;
	opacity:1 !important;
}


/*----------------------------------------------------------------------------------------------------------------------
										Shortcuts section
----------------------------------------------------------------------------------------------------------------------*/
#global-shortcuts-container
{
	display:block;
	margin-bottom:40px;
}
	#global-shortcuts-container > div
	{
		margin:0px 40px 0px 0px;
	}
	#global-shortcuts-container .keys
	{
		margin-top:5px;
	}

#custom-shortcuts-container
{
	display:block;
}

	#shortcuts
	{

	}
		#shortcuts > ul
		{
			margin:0px;
			width:900px;
			list-style:none;
			padding:10px 0px;
			border-bottom:1px solid var( --theme-border-fade );
		}
			#shortcuts > ul > li
			{
				width:22%;
				font-size:14px;
				text-align:center;
				display:inline-block;
				vertical-align:middle;
			}
				#shortcuts > ul > li:last-child
				{
					width:10%;
				}

/* ACTION BUTTONS / ICONS */
.remove_shortcut
{
	cursor:pointer;
}

/*----------------------------------------------------------------------------------------------------------------------
										Transcription section
----------------------------------------------------------------------------------------------------------------------*/
#transcription-container
{
	width:100%;
}
	#transcription-container p 
	{
		font-size:14px;
	}
	#transcription-container #transcriptions > ul
	{
		margin:0px;
		width:600px;
		list-style:none;
		padding:10px 0px;
		border-bottom:1px solid var( --theme-border-fade );
	}
		#transcription-container #transcriptions > ul:last-child
		{
			border:none;
		}
		#transcription-container #transcriptions > ul > li
		{
			width:41%;
			font-size:14px;
			text-align:left;
			display:inline-block;
			vertical-align:middle;
		}
			#transcription-container #transcriptions > ul > li > input
			{
				width:100%;
				color: var( --theme-default-font );
				border: none;
				padding: 0px 5px;

				background: linear-gradient(var(--theme-border), var(--theme-border)), linear-gradient(var(--theme-border), var(--theme-border)), linear-gradient(var(--theme-border), var(--theme-border));
				background-size: 1px 20%, 100% 1px, 1px 20%;
				background-position: bottom left, bottom center, bottom right;
				background-repeat: no-repeat;
			}
				#transcription-container #transcriptions > ul > li > input:focus
				{
					color: var( --theme );
					background: linear-gradient(var( --theme ), var( --theme )), linear-gradient(var( --theme ), var( --theme )), linear-gradient(var( --theme ), var( --theme ));
					background-size: 1px 20%, 100% 1px, 1px 20%;
					background-position: bottom left, bottom center, bottom right;
					background-repeat: no-repeat;
				}

			#transcription-container #transcriptions > ul > li:nth-child(2)
			{
				width:6%;
				font-size:20px;
				text-align:center;
			}
				#transcription-container #transcriptions > ul > li:nth-child(4)
				{
					width:12%;
					text-align: right;
				}
				#transcription-container #transcriptions > ul > li:nth-child(4) > i
				{
					cursor:pointer;
				}
				#transcription-container #transcriptions > ul.reading .read_transcript
				{
					border-radius:100%;
  					animation: pulse 0.7s infinite;
				}

#transcription
{
	margin:0px;
	padding:0px;
}
	#transcription h1
	{
		display:inline-block;
		margin:0px 0px 10px 0px;
		color: var( --theme-default-font );
	}

/*----------------------------------------------------------------------------------------------------------------------
											NO DATA STYLING 
----------------------------------------------------------------------------------------------------------------------*/
.no-data
{
	opacity: 0;
	height: 0px;
	overflow:hidden;
	text-align:center;
	transition: opacity 0.2s, height 0.3s;
}
	.no-data h2
	{
		font-size:18px;
		margin:10px 0px;
	}
	.no-data i
	{
		font-size:60px;
	}

	.no-data .add
	{
		color:#FFF;
		font-size:14px;
		
		cursor: pointer;
		border-radius:4px;
		padding: 10px 20px;
		display:inline-block;
		background: var( --theme );
	}

/* hide sticky bar */	
.auto-data ul:only-of-type
{
	opacity:0;
	overflow:hidden;
	transition: opacity 0.2s;
}
/* hide no-data container  */
.auto-data > *:first-child:nth-last-child(2)
{
	opacity: 1;
	height: 140px;
}
#transcriptions > *:first-child:nth-last-child(2)
{
	margin-top:80px;
}

/*----------------------------------------------------------------------------------------------------------------------
												ADVANCED OPTIONS
----------------------------------------------------------------------------------------------------------------------*/
#advanced_options_container
{
	width:100%;
}
	#advanced_options_container > div
	{
		font-size:14px;
		vertical-align:top;
		display:inline-block;
	}


#advanced_tts
{
	width:40%;
	margin-right:5%;
	border-right:1px solid var( --theme-border-fade );
}
	#advanced_tts #advanced_engines > div
	{
		margin-bottom:20px;
	}

	#advanced_tts #text_selection
	{
		margin-top:30px;
	}	


#various
{
	width:50%;
}

/*----------------------------------------------------------------------------------------------------------------------
										ERRORS STYLING 
----------------------------------------------------------------------------------------------------------------------*/
#error 
{

}
	#error h1
	{
		margin:20px 0px 25px 0px;
	}



/*----------------------------------------------------------------------------------------------------------------------
											CROSS-OS COMPATIBILITY 
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-height: 470px) 
{
	body
	{
		height:450px;
	}

	content section
	{
		padding: 0px;
	}
}