/*
 * PopUp
 *
 * RiddR popup CSS rules
 *
 * @package		RiddR
 * @author		Tracjhe Petrov
 * @link 		https://github.com/skechboy/RiddR/blob/master/css/popup.css
*/

/*----------------------------------------------------------------------------------------------------------------------
											   MAIN RULE's
----------------------------------------------------------------------------------------------------------------------*/
body
{
	margin: 10px;
	padding: 0px;
	user-select: none;
}


/*----------------------------------------------------------------------------------------------------------------------
											PLAYER CONTROLS
----------------------------------------------------------------------------------------------------------------------*/
#controls
{
	min-width: 140px;
	min-height: 140px;
	position:relative;
}
	#controls #background
	{
		top:0px;
		z-index:1;
		width:140px;
		height:140px;
		border-radius:100%;
		background:#E2E9F1;
		position: absolute;
	}
	#controls #container
	{
		top:20px;
		left:10px;
		z-index:2;
		width:120px;
		height:120px;
		background:#FFF;
		overflow:hidden;
		border-radius:100%;
		position: absolute;
		vertical-align: middle;
		margin:auto 0px;
		box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.2)
	}
		#controls #container > div
		{
			/* fix for fast events */
			left: -100px; 

			z-index:2;
			cursor:pointer;
			position:absolute;
			transform: scale(0);
			border-radius: 100%;
			display: inline-block;
			transition: transform 0.8s;
			transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
			
			color:#FFF;
			font-size: 29px;
			line-height:30px;
			text-align:center;
			box-sizing:border-box;
			padding: 15px 0px;
		}
			#controls #container > div:after
			{
				opacity:0;
				z-index:-1;
				content: '';
				width: 120px;
				height: 120px;
				position: absolute;
				background: inherit;
				border-radius: 100%;
				pointer-events: none;
				top: calc( 50% - 60px );
				left: calc( 50% - 60px );
				transform: scale( 1.4, 1.4);
				transition: transform 0.75s, opacity 1s, left 1s, top 1s;
			}
				#controls #container > div:active:after
				{
					opacity: 0.5;
					transition: 0s;
					transform: scale(0, 0);
				}

			#controls #container #resume
			{
				background:#00bcd4;
			}
			#controls #container #stop
			{
				background: #c62828;
			}
			#controls #container #pause
			{
				background: #ff8f00;
			}
			#controls #container #loader
			{
				padding:0px;
				cursor: progress;
			}
			#controls #container #error,
			#controls #container #no-input,
			#controls #container #sys-error
			{
				background: #b71c1c;
			}
			{
				background: #b71c1c;
			}
			#controls #container #replay
			{
				background:#00bcd4;
			}


/*----------------------------------------------------------------------------------------------------------------------
											PLAYER STATE ANIMATIONS
----------------------------------------------------------------------------------------------------------------------*/

	.loading div#loader, .start div#pause, .resume div#pause, .end div#replay, .interrupted div#replay, .error div#error,
	.cancelled div#sys-error
	{
		width: 60px;
		height: 60px;
		transform: scale(1) !important;
		top: calc( 50% - 30px ) !important;
		left: calc( 50% - 30px ) !important;
	}
		.pause div#stop, .pause div#resume
		{
			width: 46px;
			height: 46px;
			transform: scale(1) !important;
			top: calc( 50% - 23px ) !important;
			padding-top: calc( 25% - 22px) !important;
		}
			.pause div#stop
			{
				left: 10% !important;
			}
			.pause div#resume
			{
				left: calc(90% - 46px ) !important;
			}

	.end div#no-input, .interrupted div#no-input
	{
		width: 60px;
		height: 60px;
		transform: scale(0.68) !important;
		top: calc( 60% - 17px ) !important;
		left: calc(80% - 40px ) !important;	
		transition: transform 0.8s, top 0.5s, left 0.5s !important;
	}
		.idle div#no-input
		{
			width: 60px;
			height: 60px;
			transform: scale(1) !important;
			top: calc( 50% - 30px ) !important;
			left: calc( 50% - 30px ) !important;
		}


	[class^="loading "] div#loader,
	[class^="start "] div#pause, [class^="resume "] div#pause,
	[class^="end "] div#replay, [class^="interrupted "] div#replay, [class^="interrupted start"] div#no-input,
	[class^="error "] div#error, [class^="cancelled "] div#sys-error, [class^="interrupted cancelled"] div#no-input,
	[class^="pause "] div#stop, [class^="pause "] div#resume,
	[class^="idle "] div#no-input
	{
		transform: scale(0) !important;
	}

/*----------------------------------------------------------------------------------------------------------------------
										LOADER ANIMATION
----------------------------------------------------------------------------------------------------------------------*/

#loader > svg 
{
	animation: rotation 1.4s linear infinite;
}
	#loader > svg  > circle
	{
		fill:none;
		stroke:#00bcd4;
		stroke-width:5px;
		stroke-dashoffset: 0;
		stroke-dasharray: 187;
		stroke-linecap: round;
		transform-origin: center;
		animation: path 1.4s ease-in-out infinite;
	}

@keyframes rotation 
{
	0% 
	{
		transform: rotate(0deg);
	}
	100% 
	{
		transform: rotate(270deg);
	}
}

@keyframes path 
{
	0% 
	{
		stroke-dashoffset: 187;
	}
	50%
	{
		stroke-dashoffset: 60;
		transform: rotate(135deg);
	}
	100% 
	{
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}


/*----------------------------------------------------------------------------------------------------------------------
											POP-UP MESSAGE BOX
----------------------------------------------------------------------------------------------------------------------*/
#message
{
	width:100%;
	display:none;
	margin-top:10px;
	text-align:center;
	box-sizing:border-box;
}
	#message > div
	{
		height:0px;
		font-size:10px;
		overflow:hidden;
		border-radius:4px;
		white-space: normal;
	}
		#message > div.active
		{
			padding:3px;
			height:auto;
			margin-top:5px;
		}

	.idle + #message, .error + #message, .cancelled + #message
	{
		display:block;
		padding:5px 0px;
	}
		.idle + #message > span, .error + #message > span
		{
			font-size:20px;
			vertical-align:middle;
		}
	.start + #message
	{
		display:none;
	}

/* type speccific message layout */
#message > div.error
{
	color: #b71c1c;
	background: rgba(183, 28, 28, 0.2);
}