<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RiddR Options</title>
	<link rel="stylesheet" type="text/css" href="../css/material.css">
	<link rel="stylesheet" type="text/css" href="../css/options.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
	
	<meta require="lib" libs="jquery|material" type="js">
	<meta require="views" libs="options" type="js">

</head>
<body>
<div class="preloader md-preloader"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="75" width="75" viewbox="0 0 75 75"><circle cx="37.5" cy="37.5" r="33.5" stroke-width="8"/></svg></div>
<nav>
	<ul>
		<li>General</li>
		<li>Shortcuts</li>
		<li>Transcription</li>
		<li>Advanced</li>
	</ul>
	<div class="slider" ></div>
</nav>
<content>
	<section style="margin-left: calc(-100%);">
		<div id="vocal-container">
			<h1>Vocal settings</h1>
			<div id="tts-engine">
				<div class="material select">
					<label for="engine">Text To Speech Engine</label>
					<select id="engine"> 
						<option value="RiddR">RiddR</option>
						<option value="native">native</option>
						<option value="Google Deutsch">Google Deutsch</option>
						<option value="Google US English">Google US English</option>
						<option value="Google UK English Female">Google UK English Female</option>
						<option value="Google UK English Male">Google UK English Male</option>
						<option value="Google español">Google español</option>
						<option value="Google español de Estados Unidos">Google español de Estados Unidos</option>
						<option value="Google français">Google français</option>
						<option value="Google हिन्दी">Google हिन्दी</option>
						<option value="Google Bahasa Indonesia">Google Bahasa Indonesia</option>
						<option value="Google italiano">Google italiano</option>
						<option value="Google 日本語">Google 日本語</option>
						<option value="Google 한국의">Google 한국의</option>
						<option value="Google Nederlands">Google Nederlands</option>
						<option value="Google polski">Google polski</option>
						<option value="Google português do Brasil">Google português do Brasil</option>
						<option value="Google русский">Google русский</option>
						<option value="Google&nbsp;普通话（中国大陆）">Google&nbsp;普通话（中国大陆）</option>
						<option value="Google&nbsp;粤語（香港）">Google&nbsp;粤語（香港）</option>
						<option value="Google 國語（臺灣）">Google 國語（臺灣）</option>
						<option value="SpeakIt">SpeakIt</option>
						<option value="iSpeech">iSpeech</option>
						<option value="SpeakIt!">SpeakIt!</option>
					</select>
				</div>
				<div class="material switch">
					<label for="enquene">Enquene mode</label>
					<input id="enquene" type="checkbox" checked="checked"/>
					<span></span>
				</div>
			</div>
			<div id="tts-options">
					<div class="material range">
						<label for="volume">Default volume level</label>
						<input type="range" id="volume" min="0" max="100" value="90"></input>
						<span slider-value="90"></span>
					</div>
					<div class="material range">
						<label for="rate">Speaking rate</label>
						<input type="range" id="rate" min="0" max="100" value="50"></input>
						<span slider-value="50"></span>
					</div>
					<div class="material range">
						<label for="pitch">Voice pitch</label>
						<input type="range" id="pitch" min="0" max="100" value="50"></input>
						<span slider-value="50"></span>
					</div>			
			</div>
			<div id="testing">
				<h1>Testing</h1>
				<div class="material switch">
					<label for="auto-test">Auto test</label>
					<input id="auto-test" type="checkbox" checked="checked"/>
					<span></span>
				</div>
				<div class="material" id="text-input">
					<input id="utterance" type="text" value="This is a test text for google chrome extension called RiddR." required>
					<label for="utterance">Test sentence</label>
					<span class="line"></span>
				</div>
			</div>
		</div>

		<div id="language-container">
			<h1>Language</h1>
			<div class="material select">
				<label for="language">Default language</label>
				<select id="language"> 
					<option>Autodetection</option>
					<option>England</option>
					<option>France</option>
					<option>Switzerland</option>
					<option>Macedonia</option>
					<option>Greece</option>
					<option>United States</option>
					<option>New Zeland</option>
					<option>Germany</option>
				</select>
			</div>

			<div class="material switch">
				<label for="translate">Auto translate</label>
				<input id="translate" type="checkbox" />
				<span></span>
			</div>
			<div class="material select">
				<label for="att">Translate to</label>
				<select id="att"> 
					<option>Macedonian</option>
					<option>England</option>
					<option>France</option>
					<option>Switzerland</option>
					<option>Macedonia</option>
					<option>Greece</option>
					<option>United States</option>
					<option>New Zeland</option>
					<option>Germany</option>
				</select>
			</div>
		<div>
	</section>
	<section>
		<div id="global-shortcuts-container">
			<h1>Global shortcuts</h1>

			<div class="material">
				<label for="kb-read">Start reading</label>
				<div class="keys" id="kb-read">
					<span key="alt">Alt</span>
					<span key="shift">Shift</span>
					<span>R</span>
				</div>
			</div>

			<div class="material">
				<label for="kb-read">Pause reading</label>
				<div class="keys" id="kb-read">
					<span key="alt">Alt</span>
					<span key="shift">Shift</span>
					<span>P</span>
				</div>
			</div>

			<div class="material">
				<label for="kb-read">Stop reading</label>
				<div class="keys" id="kb-read">
					<span key="alt">Alt</span>
					<span key="shift">Shift</span>
					<span>S</span>
				</div>
			</div>

		</div>
		<div id="custom-shortcuts-container">
			<h1>Custom shortcuts</h1>
			<div id="shortcuts">
				<ul class="sticky">
					<li>Keyboard shortcut</li>
					<li>TTS Engine</li>
					<li>Language</li>
					<li>Auto translate</li>
					<li>Translate into</li>
					<li></li>
				</ul>
				<ul>
					<li><div class="keys" id="kb-read"><span key="alt">Alt</span><span key="shift">Shift</span><span>R</span></div></li>
					<li>
						<div class="material select stripped">
							<select id="language"> 
								<option>Autodetection</option>
								<option>England</option>
								<option>France</option>
								<option>Switzerland</option>
								<option>Macedonia</option>
								<option>Greece</option>
								<option>United States</option>
								<option>New Zeland</option>
								<option>Germany</option>
							</select>
						</div>						
					</li>
					<li>
						<div class="material select stripped">
							<select id="language"> 
								<option>Autodetection</option>
								<option>England</option>
								<option>France</option>
								<option>Switzerland</option>
								<option>Macedonia</option>
								<option>Greece</option>
								<option>United States</option>
								<option>New Zeland</option>
								<option>Germany</option>
							</select>
						</div>							
					</li>
					<li>
						<div class="material switch stripped">
							<input id="auto-test" type="checkbox" checked="checked"/>
							<span></span>
						</div>						
					</li>
					<li>
						<div class="material select stripped">
							<select id="language"> 
								<option>Autodetection</option>
								<option>England</option>
								<option>France</option>
								<option>Switzerland</option>
								<option>Macedonia</option>
								<option>Greece</option>
								<option>United States</option>
								<option>New Zeland</option>
								<option>Germany-ala-bala-mala-sala</option>
							</select>
						</div>	
					</li>
					<li></li>
				</ul>
			</div>
		</div>
		<div id="add_shortcut" title="Add custom shortcut" class="material add">+</div>
	</section>
	<section>
		TAB 3
	</section>
	<section>
		TAB 4
	</section>
</content>
</body>
<script src="../js/core.js"></script>
</html>