<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RiddR Options</title>
	<link rel="stylesheet" type="text/css" href="../css/material.css">
	<link rel="stylesheet" type="text/css" href="../css/options.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<meta require="modules" libs="riddr" type="js">
	<meta require="lib" libs="jquery" type="js">
	<meta require="views" libs="options" type="js">
	<meta require="data" libs="TTS_parameters|languages" type="js">

</head>
<body>
<div class="preloader md-preloader"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="75" width="75" viewbox="0 0 75 75"><circle cx="37.5" cy="37.5" r="33.5" stroke-width="8"/></svg></div>
<div class="modal">
	<div>
	</div>
</div>
<nav>
	<ul>
		<li>General</li>
		<li>Shortcuts</li>
		<li>Transcription</li>
		<li>Advanced</li>
	</ul>
	<div class="slider" ></div>
</nav>
<content>
	<section style="margin-left: calc(-200%);">
		<div id="vocal-container">
			<h1><i class="material-icons">record_voice_over</i>Vocal settings</h1>
			<div id="tts-engine">
				<div class="material select">
					<label for="engine">Text To Speech Engine</label>
					<select id="TTS_engine"> </select>
				</div>
				<div class="material switch">
					<label for="enqueue">Enquene mode</label>
					<input id="enqueue" type="checkbox" checked="checked"/>
					<span></span>
				</div>
			</div>
			<div id="tts-options">
					<div class="material range">
						<label for="volume">Default volume level</label>
						<input type="range" id="volume" step="0.01" min="0" max="1" value="1"></input>
						<span slider-value="1"></span>
					</div>
					<div class="material range">
						<label for="rate">Speaking rate</label>
						<input type="range" id="rate" min="0.1" step="0.01" max="4" value="1"></input>
						<span slider-value="1"></span>
					</div>
					<div class="material range">
						<label for="pitch">Voice pitch</label>
						<input type="range" id="pitch" step="0.01" min="0" max="2" value="1"></input>
						<span slider-value="1"></span>
					</div>			
			</div>
			<div id="testing">
				<h1><i class="material-icons">hearing</i> Testing</h1>
				<div class="material switch">
					<label for="auto_test">Auto test</label>
					<input id="auto_test" type="checkbox" checked="checked"/>
					<span></span>
				</div>
				<div class="material" id="text-input">
					<input id="utterance" type="text" value="This is a test text for google chrome extension called RiddR." required>
					<label for="utterance">Test sentence</label>
					<span class="line"></span>
				</div>
				<i id="test_btn" class="material-icons">volume_up</i>
			</div>
		</div>

		<div id="language-container">
			<h1><i class="material-icons">language</i>Language</h1>
			<div class="material select">
				<label for="language">Default language</label>
				<select id="language"> 
				</select>
			</div>

			<div class="material switch">
				<label for="translate">Auto translate</label>
				<input id="translate" type="checkbox" disabled title="Coming soon..."/>
				<span></span>
			</div>
		<div>
	</section>
	<section>
		<div id="global-shortcuts-container">
			<h1><i class="material-icons">public</i>Global shortcuts</h1>
		</div>
		<div id="custom-shortcuts-container">
			<h1><i class="material-icons">keyboard</i>Custom shortcuts</h1>
			<div id="shortcuts">
				<ul class="sticky">
					<li>Keyboard shortcut</li>
					<li>TTS Engine</li>
					<li>Language</li>
					<li>Auto translate</li>
					<li>Options</li>
				</ul>
			</div>
		</div>
		<div title="Add custom shortcut" class="material add" action="shortcut" >+</div>
	</section>
	<section>
		<div id="transcription-container">
			<div id="transcription" class="material switch">
				<label for="transcribe"><h1><i class="material-icons">translate</i>Transcription</h1></label>
				<input id="transcribe" type="checkbox" checked="checked"/>
				<span></span>
			</div>
			<p>Transcription in the linguistic sense is the systematic representation of language in written form. <br> 
			The source can either be utterances (speech or sign language) or preexisting text in another writing system.</p>

			<div id="transcriptions"> 
				<ul class="sticky">
					<li>From</li>
					<li></li>
					<li>To</li>
					<li></li>
				</ul>
			</div>
			</div>
		</div>
		<div title="Add transcription item" class="material add" action="transcript">+</div>
	</section>
	<section>
		TAB 4
	</section>
</content>
<div id="snackbar" class="snackbar">Changes were successfuly saved!</div>
</body>
<script src="../js/core.js"></script>
</html>