<!DOCTYPE html>
<html lang="en">
<head>
	<title>RiddR</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/popup.css">

	<meta require="views" libs="popup" type="js">
</head>
<body>
	<div id="controls">
		<div id="background"></div>
		<div id="container"> 
			<div class="material-icons" id="loader">loop</div>
			<div class="material-icons" id="play">play_arrow</div>
			<div class="material-icons" id="stop">stop</div>
			<div class="material-icons" id="pause">pause</div>
			<div class="material-icons" id="error">bug_report</div>
			<div class="material-icons" id="replay">loop</div>
		</div>
	</div>
</body>
<script src="../js/core.js"></script>
</html>